<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Confirmation</title>
    <link rel="stylesheet" href="/templates/processStyle.css" type="text/css">
    <script>
        function adjustUnits() {
            if ("<%- unit %>" === "metric") {
                document.getElementById("wUnit").innerHTML = "kg";
                document.getElementById("hUnit").innerHTML = "cm";
            } else
                document.getElementById("h2").innerText = " <%- height2 %> in";
        }
    </script>
</head>

<body onload="adjustUnits()">
	<h1>PROFILE CREATED</h1>
    <hr>
    <div id = "d1"><div id = "d2">
        <br><br>
        <ul>
	<li><strong>Name:</strong> <%- name %></li><br>
        <li><strong>Email Address:</strong> <%- email %></li><br>
    <br>
    <li><strong>Weight:</strong> <%- weight %> <span id="wUnit">lb</span></li><br>
        <li><strong>Height:</strong> <%- height1 %> <span id="hUnit">ft</span><span id="h2"></span></li><br>
    <br>
    <li><strong>BMI:</strong> <%- bmi %></li><br>
        <li><strong>Weight Category:</strong> <%- weightCategory %></li>
        <br><br><br>
        <div id = "bt1"><a href="/">Main Page</a></div>
    </div>
    </div>
</body>

</html>
