<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Confirmation</title>
    <link rel="stylesheet" href="/templates/processStyle.css" type="text/css">
    <script>
        function adjustUnits() {
            if ("<%- unit %>" === "metric") {
                document.getElementById("wUnit").innerHTML = "kg";
                document.getElementById("hUnit").innerHTML = "cm";
            } else
                document.getElementById("h2").innerText = " <%- height2 %> in";
        }
    </script>
</head>

<body onload="adjustUnits()">
	<h1>REGISTRATION SUCCESSFUL</h1>
    <div id = "d1"><div id = "d2">
	<strong>Name:</strong> <%- name %><br>
    <strong>Email Address:</strong> <%- email %><br>
    <br>
    <strong>Weight:</strong> <%- weight %> <span id="wUnit">lb</span><br>
    <strong>Height:</strong> <%- height1 %> <span id="hUnit">ft</span><span id="h2"></span><br>
    <br>
    <strong>BMI:</strong> <%- bmi %><br>
    <strong>Weight Category:</strong> <%- weightCategory %>
    <a href="/">HOME</a>
    </div>
    </div>
</body>

</html>
